.navbar {
    background-color: rgb(34, 32, 37);
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-holder {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
    top: 0;
    left: 0;
    padding-left: 10px;
}

.logo-h2 {
    color: white;
    padding-top: 0.7vh;
    padding-left: 5%;
    padding-right: 3vw;
    font-size: 2.7vh;
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
    height: 100% !important;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

.navbar-button {
    background-color: transparent;
    font-size: 1.8vh;
    line-height: 0%;
    user-select: none;
}

.navbar-button:focus {
    border-color:transparent!important;
}

.navbar-button:hover {
    border-color:transparent!important;
}

.navbar-img {
    width: 5.5vh;
    height: auto;
    padding-left: 10px;
}

@media (max-width: 800px) {
    .navbar-img {
        width: 40px
    }

    .logo {
        justify-content: right;
        left: auto;
        transform: translateX(150%);
    }
}